<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title>{% block title %}{% endblock %}</title>
   {% load staticfiles %}
   <link rel="stylesheet" type="text/css" href="{% static 'pto/style.css' %}" />
</head>
{% load i18n %}
<body>
   <div class="header" border="1">
       <table cols ='3'>
           <tr>
              <td class="logotip"></td>
              <td class="naimen"><h1>МП Ханты-Мансийскгаз</h1></td>
              <td class="login">  
                 {% if user.is_authenticated %}
                    Добро пожаловать, {{ user.last_name }}  {{ user.first_name }}
                   
                 {% endif %}
                 
              </td>
           </tr>
       </table>
       <h2>Меню</h2>
   </div>
        
     <div class="content">
        {% block content %}{% endblock %}
     </div>
   
   <div class="footer">
      {% block footer %}
       <hr>
       <p> ПРОверка </p>
      {% endblock %} 
   </div>



</body>
</html>